.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f8fb;
  font-family: Roboto;
  font-style: normal;
  &__inner {
    max-width: 642px;
    width: 50%;
    min-width: 350px;
    height: 317px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 12px 16px 0px rgba(125, 125, 125, 0.25);
    padding: 20px;
  }
  &__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  &__reg {
    gap: 10px;
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1px;
  }
  &__input {
    width: 260px;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #bbb;
    background: #fdfdfd;
    outline: none;
    color: #505050;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.1px;
  }
  &__link {
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
    text-decoration-line: underline;
  }
  &__btn {
    padding: 9px 50px;
    border-radius: 10px;
    background: #27ae60;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
  }
}

.notif {
  position: fixed;
  top: 15px;
  right: -250px;
  font-size: 1.4rem;
  padding: 10px 46px;
  border-radius: 4px;
  transition: right 0.5s ease-out;
}
.notif.danger {
  right: 10px;
  color: #c53030;
  border: 1px solid #fc8181;
  background-color: #fff5f5;
}
.notif.success {
  right: 10px;
  color: #2f855a;
  border: 1px solid #48bb78;
  background-color: #f0fff4;
}
