.header {
  width: 100%;
  padding: 24px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__right {
    display: flex;
    align-items: center;
    gap: 26px;
  }
  &__search {
    display: flex;
    align-items: center;
    width: 35%;
    gap: 12px;
    padding: 12px 18px;
    border-radius: 100px;
    background: #fff;
  }
  &__input {
    flex: 1;
    border: none;
    color: #4b4d4e;
    background-color: transparent;
    font-size: 1.3rem;
    &::placeholder {
      color: #a0a4a8;
    }
    &:focus {
      outline: none;
    }
  }
  &__notif {
    cursor: pointer;
    position: relative;
    &::after {
      position: absolute;
      top: -6px;
      right: -12px;
      border: 2px solid #fff;
      content: "9";
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      width: 16px;
      height: 16px;
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      background-color: #ff6760;
    }
  }
  &__avatar {
    cursor: pointer;
  }
}
